
.tennis-players-page {
  margin: 1em;

  thead {
    background-color: #e8e8e8;
  }
  th {
    font-weight: bold;
    font-size: .9em;
    color: dimgrey;
  }

  tbody {
    td:first-child {
      font-weight: bold;
      font-size: 1.1em;
    }
  }
}

.notice {

}

.no-data {

}

.player-name {

}

.player-age {

}

.player-victories {

}

.player-defeats {

}
