
.tennis-player-block {

}

.tp-row {
  display: flex;
}
.tp-row:first-child {
  color: white;
  background-color: #49aad8;
}

.tp-cell {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-width: 120px;
  padding: .2em .4em;
  font-size: 1.4em;

  & > * {
    margin: .3em;
  }
}

.tp-player-name {
  font-size: 1.4em;
  font-weight: bold;
}

.tp-fieldname {
  justify-content: flex-end;
  font-size: 1.1em;
  font-weight: bold;
  color: #a2a2a2;
}
